# Môi trường ảo
venv/
.venv/

# File biến môi trường (chứa API keys)
.env

# Thư mục cache của Python
__pycache__/
*.pyc

# Thư mục cache của VSCode
.vscode/

# Bỏ qua thư mục chứa dữ liệu nguồn
data/
data copy2/
data gốc/